BasedOnStyle: webkit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Right
UseTab: Always
IndentWidth: 4
TabWidth: 4
SortIncludes: true
NamespaceIndentation: None
FixNamespaceComments: true